
<form action="" method="post">
    Username:<br>
    <input type="text" name="Username" value="{{request.form.Username}}"><br>
    Password:<br>
    <input type="text" name="Pass" value="{{request.form.Pass}}"><br>
    UserRole:<br>
    <input type="text" name="UserRole" value="{{request.form.UserRole}}"><br>
    First Name:<br>
    <input type="text" name="FName" value="{{request.form.FName}}"><br>
    Last Name:<br>
    <input type="text" name="LName" value="{{request.form.LName}}"><br>
    Email:<br>
    <input type="text" name="Email" value="{{request.form.Email}}"><br>
    Address:<br>
    <input type="text" name="Address" value="{{request.form.Address}}"><br>
    ContactDetail:<br>
    <input type="text" name="ContactDetail" value="{{request.form.ContactDetail}}"><br>
    Gender:<br>
    <input type="text" name="Gender" value="{{request.form.Gender}}"><br><br>
    <input type="submit" value="Submit">
</form>
